<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar nav-link text-success" href="/"
           style="font-weight: bold; font-size: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif;"><i
                class="material-icons md-48 text-success">store</i></a>
        <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link text-light text-uppercase px-3 dropdown-toggle fw-bold fs-5" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">All products</a></li>
                        {% for category in links %}
                        <li><a class="dropdown-item" href="{{ category.get_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase px-3 fw-bold fs-5" href="{% url 'contact' %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase px-3 fw-bold fs-5" href="{% url 'about' %}">About</a>
                </li>
            </ul>

            <div class="d-flex pt-2">
                <a class="" href="{% url 'cart_detail' %}"><i class="material-icons md-48 mx-3">shopping_cart</i></a>
                <form class="d-flex pt-2">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            {% if request.user.is_authenticated and request.user.first_name %}
                <li class="nav-item"><span class="nav-link text-light text-uppercase font-weight-bold px-3">Welcome, {{ request.user.first_name }}! <i
                        class="material-icons cart-icon">account_circle</i></span></li>

                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                                        href="{% url 'signout' %}">Sign Out <i class="material-icons cart-icon">exit_to_app</i></a>
                </li>

                {% else %}

                <a class="nav-link text-light text-uppercase fw-bold px-3"
                                        href="{% url 'signup' %}">Sign Up <i class="material-icons">add</i></a>

                <a class="nav-link text-light text-uppercase fw-bold px-3"
                                        href="{% url 'login' %}">Log in<i class="material-icons">login</i></a>

            {% endif %}

        </div>
    </div>
</nav>